//META{"name":"Full_Dark","description":"Inspired by fluffingtons/fulldark v2.0.","author":"bb010g","version":"0.1.0"}*//{}

:root { --version: "2.1.0"; }

.app:not(.theme-light) .content-column.default > .ui-form-section.user-settings-appearance > h2:after {
    content: "Full Dark " var(--version);
    float: right;
    opacity: .3;
    font-weight: 500;
    font-size: 13px;
    animation: .5s fade ease-in-out;
    transition: opacity 200ms ease;
    font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.app:not(.theme-light) .content-column.default > .ui-form-section.user-settings-appearance > h2:hover:after {
    content: "github.com/bb010g/dotfiles";
    opacity: .55;
    text-transform: none;
    font-family: SourceCodePro,Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 11px;
    cursor: text;
}

.app:not(.theme-light) .content-column.default > div > div > div.ui-card.ui-card-primary.preview.outline > div > div:nth-child(1) > div.comment > div > div.message-text > div.markup > span.message-content:after {
    content: ", running Full Dark " var(--version)".";
}

.app:not(.theme-light) .content-column.default > .ui-form-section.user-settings-appearance > div > div.ui-card.ui-card-primary.preview.outline > div > div:nth-child(1) > div.comment > div > div.body > div > div.markup:after {
    content: ", running Full Dark " var(--version)".";
}
