[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
tab_width = 8

[*.nix]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true
