[user]
	name = Brayden Banks
	email = me@bb010g.com
[core]
	excludesfile = /home/bb010g/.config/gitignore_global
[diff]
	submodule = log
[merge "verify"]
	name = merge and verify driver
	driver = ~/tools/merge-and-verify-driver %A %O %B
[status]
	submoduleSummary = true
	showStash = true
[push]
	recurseSubmodules = check
[cola]
	spellcheck = false
[github]
	user = bb010g
