[submodule ".emacs.d"]
	path = .emacs.d
	url = git@github.com:syl20bnr/spacemacs
	branch = develop
[submodule ".config/BetterDiscord-sources/Inve1951"]
	path = .config/BetterDiscord-sources/Inve1951
	url = git@github.com:Inve1951/BetterDiscordStuff
	branch = master
[submodule ".config/BetterDiscord-sources/mrmaple240"]
	path = .config/BetterDiscord-sources/mrmaple240
	url = git@github.com:mrmaple240/betterdiscord-mini-themes
	branch = master
[submodule ".config/BetterDiscord-sources/Natsulus"]
	path = .config/BetterDiscord-sources/Natsulus
	url = git@github.com:Natsulus/BD-Repo
	branch = master
[submodule ".config/BetterDiscord-sources/SmarterEmbeds"]
	path = .config/BetterDiscord-sources/SmarterEmbeds
	url = git@github.com:BeardDesign1/SmarterEmbeds
	branch = master
[submodule ".config/BetterDiscord-sources/rauenzi"]
	path = .config/BetterDiscord-sources/rauenzi
	url = git@github.com:rauenzi/BetterDiscordAddons
	branch = master
[submodule ".config/BetterDiscord-sources/samogot"]
	path = .config/BetterDiscord-sources/samogot
	url = git@github.com:samogot/betterdiscord-plugins
	branch = master
[submodule ".config/BetterDiscord-sources/noodlebox"]
	path = .config/BetterDiscord-sources/noodlebox
	url = git@github.com:noodlebox/betterdiscord-plugins
	branch = master
[submodule ".skim"]
	path = .skim
	url = git@github.com:lotabout/skim.git
	branch = master
[submodule ".config/BetterDiscord-sources/mwittrien"]
	path = .config/BetterDiscord-sources/mwittrien
	url = git@github.com:mwittrien/BetterDiscordAddons
[submodule ".config/BetterDiscord-sources/Arashiryuu"]
	path = .config/BetterDiscord-sources/Arashiryuu
	url = git@github.com:Arashiryuu/crap
